@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: open sans;
}

.toptitle {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.banner {
    padding:  30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 584px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}